.header {
  background-color: #222;
  color: white;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0;
  width: 100vw;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header{
    width: 100vw;
  }
  .header-title {
    font-size: 18px;
  }
}
